.header {
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    text-align: center;
    display: flex;
}

.tab-menu {
    width: inherit;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    align-items: center;
    justify-content: left;
}

.tab {
    width: auto;
    margin: 100px;
    padding-top: 20px;
}

.content {
    display: flex;
    margin: 15px 10px;
    flex-direction: column;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: transparent;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preview {
    background-color: steelblue;
    margin: 15px 15px 0px;
    color: black;
    /* opacity: 50%; */
}

.preview-header {
    background-color: darkcyan;
}

.preview-body {
    padding-bottom: 5px;
    margin: 0px 10px 10px
}