.header {
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    text-align: center;
    display: flex;
}

.tab-menu {
    background-color: var(--goldish);
    table-layout: fixed;
}

.tab {
    margin: 10px;
    padding-top: 0px;
    white-space: nowrap;
    justify-content: center;
    border: 5px black;
    border-style: none double
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: transparent;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    display: flex;
    margin: 15px 10px;
    flex-direction: column;
    min-height: 900px;
    background-color: var(--grayish);
}

.links-list {
    margin-bottom: 10px;
    /* align-items: center; */
    /* justify-content: center; */
    padding-top: 150px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.link-box {
    text-align: center;
    border: 2px black;
    border-style: solid none;
    text-decoration: none;
    min-height: 75px;
    width: inherit;
    margin: 0px 50px;
    width: auto;
}

.post {
    background-color: var(--lighter-grayish);
    margin: 15px 15px 0px;
    color: black;
    /* opacity: 50%; */
}

.post-header {
    background-color: var(--lighter-greenish);
}

.post-body {
    padding-bottom: 5px;
    border: 2px black;
    border-style: none solid solid;

}

.social-icon {
    width: 64px;
    height: 64px;
    float: left;
    margin-left: 25px;
    transform: translateY(5%);
}