.header {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    justify-self: center;
    margin: auto;
    width: 90%;
    margin-bottom: 20px;
}

.banner {
    position: relative;
    text-align: center;
    display: flex;
}

.tab-menu {
    background-color: azure;
    table-layout: fixed;
    border-radius: 100px;
}

.tab {
    margin: 10px 0px;
    padding-top: 0px;
    white-space: nowrap;
    justify-content: center;
    border: 5px black;
    border-style: none double
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: transparent;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 900px;
    margin: auto;
    width: 90%;

}

.links-grid {
    width: 90%;
    margin: auto;
    display: grid;
    gap: 40px;
    grid-template-columns: auto auto;
}

.link-box {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100px;
}

.card-image-top {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px 0px;
    margin-bottom: 0px;
    border-radius: 20px;
    overflow: hidden;
  }

  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.container {
    padding: 25px 16px 0px;
    min-height: 150px;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* opacity: 50%; */
}

.post {
    display: flex;
    width: 90%;
    min-height: 500px;
    background-color: white;
    border-radius: 20px;
    flex-direction: column;
    margin: auto;
}

.post-header {
    padding-top: 25px;
}

.post-body {
    padding-left: 25px;
}

.social-icon {
    width: 75px;
    height: 75px;
}