* {
    font-family: Helvetica, sans-serif;
    background-color: darkslategray;
}

h1 {
    color: black;
}

body {
    max-width: 800px;
    margin: 40px auto;
    padding: 0 10px;
}

.header {
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    display: flex;
}

.tab-menu {
    width: max-content;
    display: flex;
    flex-direction: row;
}

.tab {
    width: auto;
    margin: 10px;
}

.content {
    display: flex;
    margin: 25px 10px;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    background-color: transparent;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}