* {
    font-family: Helvetica, sans-serif;
    /* border: 1px solid red; */
}

h1 {
    font-size: xx-large;
    color: black;
}

h2 {
    margin: 0;
    padding: 0;
    border: 0;
}

h3 {
    margin: 0px 0px 15px;
}

body {
    background-color: #f3f2ef;
    justify-items: center;
}

button {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
    transition-duration: 0.4s;
    align-self: flex-end;
}

button:hover {
    background-color: black; /* Green */
    color: white;
}